body {
    font-family: "Lato", sans-serif;
    background: linear-gradient( to right, hsla(0, 89%, 45%, 0.541)0%, hsla(0, 0%, 100%, 0.445)20%, rgba(8, 8, 8, 0.479) 40%,rgba(9, 21, 153, 0.76)60%, hsla(0, 89%, 45%, 0.541) 80%,  hsla(0, 0%, 100%, 0.445)100%);
  }
 #navbarColor{
    background-image: linear-gradient( 45deg, hsla(0, 89%, 45%, 0.541),rgba(19, 12, 12, 0.514),hsla(0, 89%, 45%, 0.541),rgba(18, 33, 202, 0.315));
 } 
.sideNav{
 height: 100%;
 width:0;
 position: fixed;
 z-index: 1;
 top: 0;
 right: 0;
 background-color:#111;
 overflow-x: hidden;
 transition:0.5s;
 padding-top:60px;

}
.sideNav a{
    padding: 8px 8px 8px 32px;
    text-decoration:none;
    font-size: 25px;
    color:#818181;
    display: block;
    transition:0.3s;
}

.sideNav a:hover{
    color:#f1f1f1;
}

.sideNav .closeBtn{
    position:absolute;
    top: 0;
    left:25px;
    font-size:36px;
    margin-right:50px;
}
@media screen and (max-height:450px){
    .sideNav{padding-top:15px;}
    .sideNav a{font-size: 18px;}
}
#toggleBtn{
    font-size: 40px;
    cursor:pointer;
}

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
    
}
#left-search-bar{
    width:55%;
    padding: 0;  
}
#right-search-bar{
    width:15%;
    padding:none; 
    padding: 0; 
    text-align: left;
}
#search-button{
    width:40%;
    padding:10px;
}


  
 